.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #4B0082;
    height: 56px;
}
.spacer {
    flex: 1;
}
.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation-items li {
    padding: 0.0.5rem;
    color: white;
}
.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: orangered;
}
.toolbar_logo{
    margin-left: 1rem;
}
.toolbar_logo a:link,
.toolbar_logo a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
} 
.toolbar_navigation-items a:link,
.toolbar_navigation-items a:visited {
    color: white;
    text-decoration: none;
}
@media(max-width: 768px){
    .toolbar_navigation-items{
        display: none;
    }
}